body{
    background-image: url("../images/background.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-color: black;
    color:white;
}

#gameBoard{
    margin-top: 20px;

}

#timer{
    border-color: white;
    border-width: thin;
}
#question{
    text-align: center;
}
.answerDisplay{
    text-align: center;
}